/* Write your CSS code here. */
.bg-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  width: 30%;
}

.feedback-description {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}

.list-container {
  padding: 16px;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-evenly;
}

.list-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

.emoji-img {
  width: 60px;
  height: auto;
  cursor: pointer;
}

.love-emoji-image {
  width: 50px;
  height: auto;
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

.thank-you-heading {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 20px;
}

.thank-you-description {
  text-align: center;
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
}
